<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>369644420955-bpus4shjjats3s22hct5s3l68v08l4fr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.369644420955-bpus4shjjats3s22hct5s3l68v08l4fr</string>
	<key>API_KEY</key>
	<string>AIzaSyBp5Y0sH0e_X06YjJMEHTYGW4uS5LV-t_4</string>
	<key>GCM_SENDER_ID</key>
	<string>369644420955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.verygoodcore.mint</string>
	<key>PROJECT_ID</key>
	<string>project-eva-89984</string>
	<key>STORAGE_BUCKET</key>
	<string>project-eva-89984.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:369644420955:ios:a224a0b6c6d25a5c54647e</string>
</dict>
</plist>